@font-face {
    font-family: 'Nosifer';
    src: url('../fonts/Nosifer-Regular.eot');
    src: local('Nosifer'), local('Nosifer-Regular'),
        url('../fonts/Nosifer-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nosifer-Regular.woff2') format('woff2'),
        url('../fonts/Nosifer-Regular.woff') format('woff'),
        url('../fonts/Nosifer-Regular.ttf') format('truetype'),
        url('../fonts/Nosifer-Regular.svg#Nosifer-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
