#story {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  .slide {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width:70%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: slideShow;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    .skip {
      font-size: 2em;
      text-align: center;
      background-color: silver;
      width:10%;
      cursor: pointer;
      border: 2px solid red;
      border-radius: 5px;
    }
    #start {
      font-size: 2em;
      text-align: center;
      background-color: silver;
      cursor: pointer;
      border: 2px solid red;
      border-radius: 5px;
    }
  }
}

@keyframes slideShow {
  0% {
    background-image: url(../images/black.jpg);
  }
  5% {
    background-image: url(../images/crops.jpg);
  }
  25% {
    background-image: url(../images/black.jpg);
  }
  30% {
    background-image: url(../images/fenceAttack.jpg);
  }
  50% {
    background-image: url(../images/black.jpg);
  }
  55% {
    background-image: url(../images/zombieFence.jpg);
  }
  75% {
    background-image: url(../images/black.jpg);
  }
  80% {
    background-image: url(../images/killThemAll.jpg);
  }
  100% {
    background-image: url(../images/killThemAll.jpg);
  }
}
